@font-face {
    font-family: FuturaBT;
    src: url('futurabt.otf');
}

@font-face {
    font-family: FuturaBTBold;
    src: url('futurabtbold.otf');
}

html {}

body {
    margin: 0;
    padding: 0;
    font-family: "FuturaBT";
}

section {
    position: relative;
    top: 115px;
}

nav {
    height: 115px;
    position: fixed;
    background-color: white;
    z-index: 200;
    width: 100%;
    opacity: 0.95;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#companyname {
    font-size: 36px;
    width: 30%;
    float: left;
    line-height: 115px;
}

#companyname span {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "FuturaBTBold";
}

#mainmenu ul {
    list-style: none;
    padding-top: 45px;
}

#mainmenu {
    margin-left: 30%;
    text-align: right;
}

#mainmenu ul li {
    display: inline-block;
    padding-bottom: 30px;
}

#mainmenu ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #989898;
    font-weight: bold;
}

#mainmenu ul li:hover {
    border-bottom: 5px solid #3070a8
}

#mainmenu ul li a:hover {
    color: #3070a8;
}

#aboute {
    background: url(Rectangle.png) #3170a8 center no-repeat;
    width: 100%;
    height: 585px;
    text-align: center;
    margin: auto;
    color: white;
    min-width: 1024px;
}

.container_1024 {
    width: 1024px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

#aboute_container {
    width: 900px;
    text-align: center;
    margin: auto;
    padding-top: 155px;
}

#aboute1 {
    font-size: 36px;
}

#aboute2 {
    font-size: 48px;
    font-family: "FuturaBTBold";
    text-transform: uppercase;
    /*border: 2px solid white;*/
}

#aboute3 {
    font: italic 20px / 30px Calibri;
    width: 575px;
    margin: auto;
    margin-top: 20px;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.26);
}

#aboute_button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    padding: 22px 64px;
    margin-top: 30px;
    font-weight: 600;
}

#aboute_button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

h2 {
    text-transform: uppercase;
    color: #40525c;
    padding: 20px 0;
    font-size: 30px;
}

#services>div {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.advantage {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #999999;
    margin: 0 20px;
}

.imgtitle {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 20px;
}

#middle-section {
    background: url(/images/Rectangle%2014%20copy.png) rgba(6, 15, 22, 0.77) center no-repeat;
    width: 100%;
    min-height: 578px;
    text-align: left;
    margin: auto;
    color: white;
    min-width: 1024px;
    margin-top: 45px;
}

#middle_section_container {
    text-align: left;
    padding-top: 45px;
}

#middle_section_container div {
    width: 680px;
}

.color_alt {
    color: #ee8129;
}

h3 {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 48px;
}

#middle_section_container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

#middle_section_container ul {
    color: #9d9d9d;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
}

#middle_section_container ul li {
    padding: 10px 0
}

.color_main {
    color: #3070a8;
}

#pricing {
    font-family: "Trebuchet MS";
}

.pricing_container>div {
    display: inline-block;
    position: relative;
    width: 290px;
    margin-bottom: 10px;
}

.maincontainer {
    border: 4px solid #ee8129;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    z-index: 1;
}

.maincontainer > div.contentblock {
    border: none;
    padding-bottom: 30px;
    border-radius: 0;
}

.maincontainer > div .hat {
    height: 72px;
    line-height: 72px;
    background: #ee8129;
    border-radius: 0;
}

.leftcontainer > div .hat {
    background-color: #37c2d3;
}

.rightcontainer > div .hat {
    background-color: #1cb79a;
}

.leftcontainer {
    margin-right: -8px;
}

.rightcontainer {
    margin-left: -8px;
}

.hat {
    height: 62px;
    line-height: 62px;
    border-radius: 5px 5px 0 0;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.contentblock {
    background: white;
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding-bottom: 20px;
}

.product {
    height: 58px;
    line-height: 58px;
    font-size: 24px;
    font-weight: bold;
    color: #37495a;
}

.fullprice>div {
    display: inline-block;
    color: #37495a;
    position: relative;
    font-weight: bold;
}

.price {
    font-size: 70px;
}

.period {
    font-size: 18px;
    bottom: -0.5em;
    left: -6px;
}

.currecy {
    font-size: 20px;
    top: -2em;
    right: -5px;
}

.pricing_container ul {
    color: #868686;
    list-style-type: none;
    margin: 24px 15px 20px 15px;
    padding-left: 0;
    text-align: left;
    font-weight: normal;
}

.pricing_container li {
    margin: 1px;
    padding: 6px 0px 6px 35px;
    background: #edf6fd;
}

.pricing_container li:before {
    content: url(check.png);
}

.pricing_container li:nth-child(even) {
    background: #f5f5f8;
}

.pricing_container button {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.leftcontainer button,
.rightcontainer button {
    background-color: #3371a6;
    border-bottom: 3px solid #37495A;
}

.maincontainer button {
    background-color: #EE8129;
    border-bottom: 3px solid #B1561B;
}

#otz {
    margin-top: 45px;
    min-width: 300px;
    font-family: 'Open Sans', sans-serif;
    background: url(/images/Rectangle%2035.png) rgba(6, 15, 22, 0.77) center repeat;
}

#otz h2 {
    font-weight: bold;
    font-family: "FuturaBTBold";
    text-align: center;
    font-size: 40px;
    padding: 35px 0;
}

#otz h2 span {
    font-family: "FuturaBT";
    font-weight: normal;
}

#otz .row {
    text-align: center;
    padding-bottom: 3.75em;
}

#otz .row div {
    display: inline-block;
}

#otz .left,
#otz .right {
    text-align: left;
    display: inline-block;
    margin: 0 20px 10px 20px;
    vertical-align: top;
}

#otz .otz {
    background: #f7f7f7;
    font-size: 0.8175em;
    margin-left: 20px;
    position: relative;
    max-width: 340px;
}

#otz .otz > div {
    padding: 10px 15px;
}

#otz .otz .otztext {
    padding-left: 0;
    padding-right: 0;
}

#otz .otz::before {
    content: url(images/arrow.png);
    position: absolute;
    display: block;
    left: -13px;
    top: 35px;
}

#otz .avatar {
    width: 99px;
    height: 99px;
    vertical-align: top;
}

#otz .otztext {
    font-style: normal;
    color: #666666;
    line-height: 1.5;
    border-top: #a5a5a5 2px dotted;
    margin: 0 15px;
    text-align: left;
}

#otz .otzheader {
    font-weight: bold;
    font-style: italic;
}

#otz .name {
    float: left;
}

#otz .name::before {
    content: "- ";
    font-weight: normal;
}

#otz .role {
    float: right;
}

#contacts {
    min-height: 345px;
    background: url(images/Layer-101.png) right no-repeat;
}

table {
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 600;
    vertical-align: middle;
    text-align: left;
}

td {
    padding: 0 15px;
    vertical-align: middle;
    height: 34px;
}

td img {
    margin-top: 3px;
}

#contacts p {
    text-align: left;
    margin-left: 8px;
}

#contacts span {
    padding: 0 8px;
}

#footer {
    width: 100%;
    height: 115px;
    background: #3070a8;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
}

#footer div:first-child {
    padding-top: 30px
}

#footer span {
    color: #1d1b1b;
}