div {
    background: #a74eff;
    margin-top: 20px;

}

/*.full{ border-top: 4px solid #eaefe5;*/
/*border-bottom: 4px solid #eaefe5;*/

.menu {
    width: 900px;
    height: 40px;
    margin: auto;


}

span {
    font-family: Economica, sans-serif;
    font-size: 120%;
    font-weight: bolder;
    height: 30px;
    display: inline-block;
    padding: 10px 20px 0 20px;
    color: white;
}

span:hover {
    color: #9f9f9f;
    background: #eaefe5;
    margin: -4px 0;
    border-top: 3px solid #e3e3e3;
    border-bottom: 3px solid #e3e3e3;
}

.more{float: right}
